<header class="header-container">
    <ul class="header-info">
        
        <li class="title"><a href="/"><big>edu</big>Tech</a></li>
        <li class="categ"><a href="/">Categories</a>
        <div class="submenu">
            <ul>
                <li>Digital Marketing</li>
                <li>Enterpreneurship</li>
                <li>Game Development</li>
                <li>Mobile Development</li>
                <li>web Development</li>
                <li>business analytics</li>
                <li>business intelligence</li>
                <li>artificial intelligence</li>
                <li>machine learning</li>

            </ul>
        </div>
        </li>
        <li class="serch"><i class="fa fa-search"></i><input type="text" placeholder="serch for anything"></li>
        <li class="teach">teach on eduTech</li>
        <li class="login"><a href="/login">log in</a></li>
        <li class="signin"><a href="/signup">sign up</a></li>
        <li class="menubars"><i class="fa fa-bars"></i></li>
    </ul>

</header>
<nav class="sidemenu">
    <p class="cancel"><i class="fa fa-times"></i></p>
    <div class="anchorTags">
      <p><a href="/login">Log In</a></p>
      <p><a href="/signup">Sign up</a></p>  
    </div>
    <div class="line"><hr></div>
    <div class="mostpopuler">
        <p>most popular</p>
        <ul>
            <li>web Development</li>
            <li>Mobile Development</li>
            <li>game Development</li>
            <li>business analytics</li>
            <li>digital Marketing</li>
            <li>machine learning</li>
            <li>graphic design</li>
            <li>all Categories</li>        </ul>

    </div>
    <div class="line"><hr></div>
    <div class="moreabout">
        <ul>
            <li>more from eduTech</li>
            <li>get the app</li>
            <li>need a help ?</li>
            <li>contact us</li>

        </ul>

    </div>

</nav>