<footer class="footer-container" >
    <div class="footer-info">
    <div>
        <ul>
            <li>Tech on eduTech</li>
            <li>About us</li>
            <li>Contact us</li>
            <li>Need help ?</li>
        </ul>

    </div>
    <div>
        <ul>
            <li>Terms</li>
            <li>Privacy policy</li>
            <li>Support</li>
        </ul>

    </div>
    </div>
    <div class="copyright">
        <ul>
            <li class="title"><a href="/"><big>edu</big> Tech</a></li>
            <li>&copy, 2021 eduTech</li>

        </ul>
    </div>


</footer>
<script src="script.js"></script>