<%- include('./partials/header.ejs') %>
<body>
    <%- include('./partials/body.ejs') %>
    
    <section>
        <img src="/img.jpg" alt="image">

        <div class="section-container">
            <ul>
                <li><big>dream up</big></li>
                <li>your ambition accepted. learn the latest skills to reach your proffesional goals</li>
                <li class="input"><input type="text" placeholder="What do you want to learn?"><i class="fa fa-search"></i></li>
            </ul>

        </div>

        
    </section>
    <section class="another-sections">
        <div class="amibitions">
            <div class="transfer">
                <h2>transfor your life through education</h2>
            </div>
            <div class="textinfo">
                <p>surya narayana launched a new career in full stack web development by 
                    taking courses on eduTech.surya achived his fashoin in full stack 
                    web development through eduTech .What will you be able to do?</p>
            </div>

        </div>
    </section>

    
    <%- include('./partials/footer.ejs')%>

    <script src="/script.js"></script>
</body>
</html>